<% if flash[:my_errors]%>
    <% flash[:my_errors].each do |er| %><br>
        <%= er %>
        <%end%>
        <%end%>

<h1>New Artist Form</h1>

<%=form_for @artist do |f| %>
    

<%= f.label :name %>
<%=f.text_field :name %> 

<%= f.label :age %>
<%=f.number_field :age %>

<%= f.label :title %>
<%=f.text_field :title %> 

    <%= f.submit %>
    <%end%>