<h1>Create Artist Instrument</h1>

<%= form_for @artist_instrument do |f| %>
  <%= f.label :instrument_id %>
  <%= f.collection_select :instrument_id, @instruments, :id, :name %>

  <%= f.label :artist_id %>
  <%= f.collection_select :artist_id, @artists, :id, :name  %>

  <%= f.submit %>
<% end %>